<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>subviewcontroller</key>
	<dict>
		<key>QUCRegionsViewController</key>
		<string>DCRegionsViewController</string>
		<key>QUCSetPwdViewController</key>
		<string>DCSetPwdViewController</string>
		<key>QUCIframeViewController</key>
		<string>DCIframeViewController</string>
		<key>QUCSendSmsCodeForFindpwdViewController</key>
		<string>DCSendSmsCodeForFindpwdViewController</string>
		<key>QUCFindPwdViewController</key>
		<string>DCFindPwdViewController</string>
		<key>QUCActivateEmailViewController</key>
		<string>DCActivateEmailViewController</string>
		<key>QUCSendSmsCodeForRegViewController</key>
		<string>DCSendSmsCodeForRegViewController</string>
		<key>QUCRegByEmailViewController</key>
		<string>DCRegByEmailViewController</string>
		<key>QUCRegByMobileViewController</key>
		<string>DCRegByMobileViewController</string>
		<key>QUCLoginViewController</key>
		<string>DCLoginViewController</string>
		<key>QUCLoginOtherViewController</key>
		<string>DCLoginOtherViewController</string>
	</dict>
	<key>intf</key>
	<dict>
		<key>destUrlDefault</key>
		<string>http://i.360.cn</string>
		<key>headTypeDefault</key>
		<string>s</string>
		<key>onlyResModeDes</key>
		<true/>
		<key>onlyUseHttps</key>
		<false/>
		<key>regIsNeedActive</key>
		<true/>
		<key>findpwdWap</key>
		<string>http://i.360.cn/findpwdwap?client=app</string>
		<key>fieldsDefault</key>
		<string>qid,username,nickname,loginemail,head_pic</string>
		<key>secTypeDefault</key>
		<string>bool</string>
	</dict>
	<key>color</key>
	<dict>
		<key>qucDefaultColor</key>
		<dict>
			<key>hex</key>
			<string>#03A9F4</string>
			<key>alpha</key>
			<string>1.0</string>
		</dict>
		<key>qucUnderLineBtnTitleColor</key>
		<dict>
			<key>hex</key>
			<string>#35AA0C</string>
			<key>alpha</key>
			<string>1.0</string>
		</dict>
		<key>qucAlertViewEmphasesColor</key>
		<dict>
			<key>hex</key>
			<string>#35AA0C</string>
			<key>alpha</key>
			<string>1.0</string>
		</dict>
		<key>qucDefaultBackGroundColor</key>
		<dict>
			<key>hex</key>
			<string>#F0F0F0</string>
			<key>alpha</key>
			<string>1.0</string>
		</dict>
		<key>qucWhiteBtnTitleColorNormal</key>
		<dict>
			<key>hex</key>
			<string>#000000</string>
			<key>alpha</key>
			<string>1.0</string>
		</dict>
		<key>qucWhiteBtnTitleColorHighLight</key>
		<dict>
			<key>hex</key>
			<string>#AAAAAA</string>
			<key>alpha</key>
			<string>1.0</string>
		</dict>
		<key>qucNormalLabelTitleColor</key>
		<dict>
			<key>hex</key>
			<string>#000000</string>
			<key>alpha</key>
			<string>1.0</string>
		</dict>
		<key>qucRemindLabelTitleColor</key>
		<dict>
			<key>hex</key>
			<string>#AAAAAA</string>
			<key>alpha</key>
			<string>1.0</string>
		</dict>
		<key>qucShowPwdBtnTitleColor</key>
		<dict>
			<key>hex</key>
			<string>#999999</string>
			<key>alpha</key>
			<string>1.0</string>
		</dict>
		<key>qucCheckboxTitleColor</key>
		<dict>
			<key>hex</key>
			<string>#999999</string>
			<key>alpha</key>
			<string>1.0</string>
		</dict>
		<key>qucRegionsViewTitleColor</key>
		<dict>
			<key>hex</key>
			<string>#2c3e50</string>
			<key>alpha</key>
			<string>1.0</string>
		</dict>
		<key>qucRegionsViewRegionColor</key>
		<dict>
			<key>hex</key>
			<string>#7f8c8d</string>
			<key>alpha</key>
			<string>1.0</string>
		</dict>
		<key>qucRegionCellLeftColor</key>
		<dict>
			<key>hex</key>
			<string>#2c3e50</string>
			<key>alpha</key>
			<string>1.0</string>
		</dict>
		<key>qucRegionCellRightColor</key>
		<dict>
			<key>hex</key>
			<string>#2c3e50</string>
			<key>alpha</key>
			<string>1.0</string>
		</dict>
	</dict>
	<key>font</key>
	<dict>
		<key>qucRegionsViewTitleFont</key>
		<string>14</string>
		<key>qucRegionsViewRegionFont</key>
		<string>14</string>
		<key>qucRegionCellLeftFont</key>
		<string>14</string>
		<key>qucRegionCellRightFont</key>
		<string>14</string>
		<key>qucButtonTitleFont</key>
		<string>16</string>
		<key>qucLinkTitleFont</key>
		<string>14</string>
		<key>qucShowPwdBtnTitleFont</key>
		<string>14</string>
		<key>qucSendSmsButtonTitleFont</key>
		<string>14</string>
		<key>qucTextFieldFont</key>
		<string>14</string>
		<key>qucLabelFieldFont</key>
		<string>14</string>
		<key>qucCheckboxTitleFont</key>
		<string>13</string>
	</dict>
	<key>layout</key>
	<dict>
		<key>qucPaddingWidth</key>
		<string>20</string>
		<key>qucEachLineHorizontalInterval</key>
		<string>10</string>
		<key>qucPaddingTopHeight</key>
		<string>20</string>
		<key>qucLittleVerticalInterval</key>
		<string>4</string>
		<key>qucMiddleVerticalInterval</key>
		<string>8</string>
		<key>qucBigVerticalInterval</key>
		<string>16</string>
		<key>qucLittleHeight</key>
		<string>25</string>
		<key>qucBigHeight</key>
		<string>45</string>
		<key>qucAlertPaddingTopHeight</key>
		<string>150</string>
		<key>qucAlertHeight</key>
		<string>150</string>
		<key>qucProgressWindowLevel</key>
		<string>2</string>
	</dict>
	<key>supportForeignNationalityMobile</key>
	<false/>
	<key>sdkVer</key>
	<string>iOS_v1.0.0</string>
</dict>
</plist>
