* {
	-webkit-user-select: none;
	-ms-touch-select: none;
}
html {
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: Arial;
	font-size:16px;
	color: #6c6c6c;
	background-color: #FFF;
	text-align: center;
	-webkit-touch-callout:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust:none;
}
.heading {
	margin:0 1em;
	text-align:left;
}
.des {
	padding: 0 1em;
	text-align:left;
	text-indent: 2em;
	word-break: break-all;
}
.logo {
	width: 100%;
	text-align: center;
}
.button {
	font-size: 18px;
	font-weight: normal;
	text-decoration: none;
	display: block;
	text-align: center;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	color: #FFF;
	background-color: #FFCC33;
	border: 1px solid #ECB100;
	padding: .5em 0em;
	margin: .5em .7em;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.button:active {
	outline: 0;
  	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.button-waring {
	color: #666;
	background-color: #ebebeb;
	border-color: #e0e0e0;
}
.button-select {
	font-size: 14px;
	background-color: #CCCCCC;
	border: 0;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.dlist {
	padding: 0px;
	margin: 1em;
	background: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.ditem {
	overflow: hidden;
	list-style-type: none;
	font-size: 1em;
	padding: 1em;
	border-bottom: inset 1px #ebebeb;
	vertical-align: middle;
}
.ditem:active {
	background: #f4f4f4;
}
.ditem:last-child {
	border-bottom: inset 0px #ebebeb;
}
.ditem-empty {
	overflow: hidden;
	list-style-type: none;
	font-size: 1em;
	padding: 1em;
	vertical-align: middle;
}
#outpos {
	height: 100px;
	width: 100%;
}
#output {
	height: 64px;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	color: #f00;
	background: #FFF;
	font-size: 12px;
	text-align: left;
	line-height: 16px;
	word-break: break-all;
	z-index: 6666;
	padding: 8px 16px;
	overflow-x: hidden;
	overflow-y: scroll;
	border-top: 2px solid #AAA;
	-webkit-overflow-scrolling: touch;
}
