 .tab {
     position: absolute;
     left: 0;
     right: 0;
     bottom: 0;
     height: 50px;
 }

 .tab-inner {
     display: table;
     table-layout: fixed;
     background-color: #f7f7f7;
     -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .85);
     box-shadow: 0 0 1px rgba(0, 0, 0, .85);
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
 }

 .tab-item {
     display: table-cell;
     width: 1%;
     height: 50px;
     overflow: hidden;
     color: #666;
     text-align: center;
     text-overflow: ellipsis;
     white-space: nowrap;
     vertical-align: middle;
 }

 .tab-item-icon img {
     width: 100%;
     height: 100%;
 }

 .tab-item .tab-item-icon img:nth-child(1) {
     display: block;
 }

 .tab-item .tab-item-icon img:nth-child(2) {
     display: none;
 }

 .tab-item.active .tab-item-icon img:nth-child(1) {
     display: none;
 }

 .tab-item.active .tab-item-icon img:nth-child(2) {
     display: block;
 }

 .tab-item-label {
     display: block;
     overflow: hidden;
     font-size: 12px;
 }

 .tab-item-icon {
     margin: 0 auto;
     width: 24px;
     height: 24px;
 }

 .tab-item-icon-bars{

 }

 .tab.no-label .tab-item-icon {
     margin: 0 auto;
     width: 40px;
     height: 40px;
 }

 .tab.no-icon .tab-item-label {
     font-size: 16px;
 }

 .tab-item.active {
     color: #FF5777;
 }